<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.apkinstall">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
  <application>
    <receiver
      android:name="com.apkinstall.PackageInstallerStatusReceiver"
      android:exported="false"/>
  </application>
</manifest>
